* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --colorGreen: #189232;
    --colorDarkGrey: #585857; 
    --colorDarkBlue: #005e7d;
    --colorLightBlue: #4bbbd1;
} 

.bg-body{
    background-color: whitesmoke;
}

.m{
    margin-top: 120px;
}



.logo {
    color: var(--colorGreen);
    font-size: x-large;
    font-weight: 900;
}

.navCustom{
    font-size: x-large;
    font-weight: 900 !important;
    color: black !important;
    transition: 0.4s;
}

.navCustom:hover{
    transform: scale(1.2);

}

.nav-link{
    color: black !important;
}
.btn-custom{
    background-color: var(--colorGreen);
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
}
.btn-custom:hover{
    background-color: white;
    color:  var(--colorGreen);
    border: solid 2px var(--colorGreen);
}

.nav-link:hover{
    color: var(--colorGreen) !important;
}

.navbar-link-custom {
    color: var(--colorGreen); 
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-arrow {
    color: var(--colorGreen) !important;
}

.bg-custom {
    background-color: rgba(255, 255, 255, 0.803) ;
}


/* Sezione Esagono */

.hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  transition: 0,8s;
}

.hexagon, 
.hexagon:before, 
.hexagon:after {
  background: var(--colorGreen);
  /* box-shadow: 0 0 10px rgba(0,0,0,0.8);    */
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  transform: rotate(145deg) skew(22.5deg);
}

.hexagon:before {
  top: -29px;
}

.hexagon:after {
  top: 27px;
}

.hexagon span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 55px;
  background: var(--colorGreen);
  z-index: 1;
}

.rotate {
    transition: 0.8s;
}

.rotate:hover {
    transform: rotate(360deg);
}

/* Fine Sezione Esagono */

/* Inizio Sezione Dinamica */

.counter-custom {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    border: solid 7px var(--colorGreen);
    border-radius: 100px;
    transition: 0.4s;
    
}

.counter-custom:hover{
    transform: translateX(15px);

}

/* Sezione Contacts */

.border-custom {
    border: solid 2px var(--colorGreen);
    border-radius: 50px;
}
