* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --colorGreen: #189232;
    --colorDarkGrey: #585857; 
    --colorDarkBlue: #005e7d;
    --colorLightBlue: #4bbbd1;
} 



.logo {
    color: var(--colorGreen);
    font-size: x-large;
    font-weight: 900;
}

.navCustom{
    font-size: x-large;
    font-weight: 900 !important;
    color: black !important;
    transition: 0.4s;
}

.navCustom:hover{
    transform: scale(1.2);

}

.nav-link{
    color: black !important;
}

.nav-link:hover{
    color: var(--colorGreen) !important;
}

.navbar-link-custom {
    color: var(--colorGreen); 
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-arrow {
    color: var(--colorGreen) !important;
}

.bg-custom {
    background-color: rgba(255, 255, 255, 0.803) ;
}


/* Sezione Esagono */

.hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  transition: 0,8s;
}

.hexagon, 
.hexagon:before, 
.hexagon:after {
  background: var(--colorGreen);
  /* box-shadow: 0 0 10px rgba(0,0,0,0.8);    */
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  transform: rotate(145deg) skew(22.5deg);
}

.hexagon:before {
  top: -29px;
}

.hexagon:after {
  top: 27px;
}

.hexagon span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 55px;
  background: var(--colorGreen);
  z-index: 1;
}

.rotate {
    transition: 0.8s;
}

.rotate:hover {
    transform: rotate(360deg);
}

/* Fine Sezione Esagono */


